/* slabo 13px #007580*/
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.box-smartphone-menu {
    display: none;
    visibility: hidden;
}

.disappear {
    display: none;
}


header {
    position: fixed;
    z-index: 1;
    height: 13vh;
    width: 100%;
    background: #00464D;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "logo navbar login";
}

.box-button-logo {
    grid-area: logo;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-self: center;
}

.logo-daula {
    width: 100%;
    height: 100%;
    cursor: pointer
}

.box-header-buttons{
    grid-area: navbar;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-self: center;
}

.header-buttons {
    width: 10vw;
    height: 7vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-buttons > a {
    width: 8.5vw;
    height: 5vh;
}

.header-buttons > button {
    font-family: 'Slabo 13px', serif;
    width: 8.5vw;
    height: 5vh;
    background: #007580;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold; 
    transition: 0.5s;
    text-align: center;
}

.header-buttons > button:hover {
    border: #007580 solid 1px;
    background: inherit;
    border-radius: 0;
}

.box-buttons-register {
    grid-area: login;
    display: grid;
    grid-template-columns: 50% 50% ;
    justify-content: center;
    align-items: center;
}

.buttons-register-one {
    width: 100%;
    display: grid;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-self: center;
}

.buttons-register-two {
    width: 100%;
    display: grid;
    justify-content: center;
    align-self: center;
}

.buttons-register-one > button,
.buttons-register-two > button {
    font-family: 'Slabo 13px', serif;
    background: #10757E;
    width: 7vw;
    height: 5vh;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.buttons-register-one > a > button:hover,
.buttons-register-two > a > button:hover {
    border: #007580 solid 1px;
    background: inherit;
    border-radius: 0; 
}

/* MAIN */

main {
    padding-top: 13vh;
    background-color: #007580;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
    grid-template-areas: 
    "box-one"
    "box-two"
    "box-three"
    "box-four"
    "box-five";
}

.style-link-created-by{
    color: #ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 14px;
}

/* BOX-ONE */

.box-one {
    grid-area: box-one;
    width: 100%;
    background-image: url("../imagens/pageOneImg/3837.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 98% 2%;
    grid-template-areas:
    "mensage autenticacao"
    "link link";
}

.box-text h3{
    font-family: 'Sofia', cursive;
    margin: 0;
    text-align:center;
    font-size: 25px
}

.box-text {
    grid-area: mensage;
    font-family: 'Slabo 13px', serif;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    margin: 4vw;
    padding: 1% 3% 1% 3%;
    text-align: center;
    background: #003A40;
    color: #ffffff;   
    font-size: 16px;
}

.box-autenticacao{
    grid-area: autenticacao;
    margin-top: 10vh;
    height:  85vh;
    width: 32vw;
    display: flex;
    align-self: center;
    justify-self: center;
    border: #000000;
    position: relative;
}

.rotate {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
    background: #003A40;;
}

.change {
    transform: rotateY(180deg)
}

.box-login,
.box-register {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
    "title-form"
    "content-form";
    justify-content: center;
    align-items: center;
}

.box-form-login,
.box-form-register {
    grid-area: content-form;
    width: 25vw;
}

.input-form-daula {
    font-family: 'Slabo 13px', serif;
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    margin: 5% 0;
}

.box-form-login form div,
.box-form-register form div{
    position: relative;
}

.box-form-login form div label,
.box-form-register form div label {
    font-family: 'Slabo 13px', serif;
    position: absolute;
    top: 28px;
    left: 5px;
    color: #ffffff;
    transition: .5s;
    pointer-events: none;
    font-size: 15px
}

.input-form-daula:focus ~ label,
.input-form-daula:valid ~ label {
    top: -3px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.box-submit-form-daula {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-form-daula {
    font-family: 'Slabo 13px', serif;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 35%;
    background: #007580;
    color: #ffffff;
    font-weight: bold;
    transition: .5s
}

.submit-form-daula:hover {
    background: none;
    border: 1px solid #007580;
    border-radius: 0;
}

.box-register {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #003A40;
    transform: rotateY(180deg);
}

.box-autenticacao h2 {
    grid-area: title-form;
    font-family: 'Sofia', cursive;
    color: #ffffff;
    text-align: center;
}

.credits-img-box-one {
    grid-area: link;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: flex-end;
}

/* BOX-TWO */

.box-two {
    grid-area: box-two;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "box-text-sobre box-image-sobre";
    justify-items: center;
    align-items: center;
}

.box-text-sobre {
    grid-area: box-text-sobre;
    background-color: #003A40;
    border: 1px #000000 solid; 
    display: grid;
    grid-template-rows: 20% 80%;
    height: 80vh;
    width: 400px;
    grid-template-areas: 
    "title-sobre"
    "text-sobre";
    
}

.box-title-sobre, h2 {
    margin: 0;
}

.box-title-sobre {
    grid-area: title-sobre;
    font-family: 'Sofia', cursive;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
}

.box-content-sobre {
    font-family: 'Slabo 13px', serif;
    grid-area: text-sobre;
    margin: 0 10% 0 10%;
    text-align: justify;
    font-size: 18px;
    color: #ffffff;
    font-size: 16px
}

.box-content-sobre p {
    margin: 0;
}

.box-img-sobre {
    grid-area: box-image-sobre;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 82% 5%;
    grid-template-areas: 
    "svg"
    "created-by"
    ;
}

.img-sobre {
    grid-area: svg;
    height: 55vh;
}

.img-box-two-created-by {
    display: flex;
    justify-content: center;
}

/* BOX-THREE */

.box-three {
    grid-area: box-three;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 48% 52%;
    grid-template-areas: 
    "img-aulas"
    "text-aulas"
}

.box-img-aulas {
    grid-area: img-aulas;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-areas: 
    "img-aulas"
    "created-by";
}

.img-aulas {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-area: img-aulas;
    height: 45vh;
}

.img-box-three-created-by {
    display: flex;
    /* -webkit-box-pack: end;
    -ms-flex-pack: end; */
    align-items: center;
    justify-content: center;
    grid-area: created-by;
}

.box-text-aulas {
    grid-area: text-aulas;
    margin: 0 10% 8% 10% ;
    text-align: center;
    background-color: #003A40;
    border: 1px solid #000000;
    color: #ffffff;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-areas: 
    "title-text"
    "content-text" 
}

.box-title-aulas {
    font-family: 'Sofia', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-aulas {
    margin: 0;
    padding: 0;
}

.content-aulas {
    grid-area: content-text;
    margin: 0;
    padding: 0 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    font-size: 18px
}

/* BOX-FOUR */

.box-four {
    grid-area: box-four;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "img-doacao text-doacao";
    justify-items: center;
    align-items: center;
}

.box-img-doacao {
    grid-area: img-doacao;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 82% 5%;
    grid-template-areas: 
    "img-doacao"
    "created-by";
}

.img-doacao {
    grid-area: img-doacao;
    height: 45vh;
}

.img-box-four-created-by {
    grid-area: created-by;
    display: flex;
    justify-content: center;
}

.box-text-doacao {
    grid-area: text-doacao;
    background-color: #003A40;
    border: 1px #000000 solid; 
    display: grid;
    grid-template-rows: 20% 80%;
    height: 80vh;
    width: 400px;
    grid-template-areas: 
    "title-sobre"
    "text-sobre"
}

.box-title-doacao {
    font-family: 'Sofia', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.box-content-doacao {
    margin: 0 10% 0 10%;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-align: justify;
}

.box-content-doacao p {
    margin: 0;
}

/* BOX-FIVE */

.box-five {
    grid-area: box-five;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box-principios {
    width: 25vw;
    height: 60vh;
    background-color: #003A40;
    border: 1px solid #000000;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    'title-pricipios'
    'text-principios'
}

.box-title-principios {
    font-family: 'Sofia', cursive;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content-principios {
    padding: 0 3%;
    text-align: center;
    color: #ffffff;
}

/* FOOTER */

footer {
    grid-area: footer;
    background: #00464D;
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 80%;
    grid-template-areas: 
    "facebook instagram whatsapp email"
}

.box-icon-social-midia-facebook,
.box-icon-social-midia-instagram,
.box-icon-social-midia-whatsapp,
.box-icon-social-midia-mail {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.box-icon-social-midia-facebook p,
.box-icon-social-midia-instagram p,
.box-icon-social-midia-whatsapp p,
.box-icon-social-midia-mail p {
    text-align: center;
    margin: 2% 0 0 0;
    color: #ffffff;
} 

.img-redes-sociais {
    height: 60%;
    margin: 2% 0 0 0;
    padding: 5%;
    background: #007580;
    border-radius: 10px
}

@media (max-width: 1058px) {
    
    /*HEADER*/


    /* ocultando header para pc */

    .box-pc-menu {
        display: none;
        visibility: hidden;
    }

    header {
        position: fixed;
        z-index: 1;
        height: 13vh;
        width: 100%;
        background: #00464D;
        display: grid;
        grid-template-columns: 30% 65% ;
        grid-template-areas: "logo navbar";
    }

    .box-smartphone-menu {
        grid-area: navbar;
        display: flex;
        visibility: visible;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center
    }

    .button-menu {
        box-shadow: none;
        outline: none;
        border: none;
        width: 4.5vw;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #007580;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-menu img{
        height: 4vh;
    }

    .model-smartphone {
        display: block;
        visibility: visible;
        position: fixed;
        right: 0;
        top: 12%;
        width: 270px;
        height: 88vh;
        background: #00464D;
        animation: showMenu 0.5s;
    }

    .disappear {
        display: none;
    }

    .box-header-buttons {
        height: 60%;
        grid-area: none;
        display: block;
        -webkit-box-pack: none;
        -ms-flex-pack: none;
        justify-content: none; 
        padding: 2% 5%;
    }

    .header-buttons {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-buttons > button {
        font-family: 'Slabo 13px', serif;
        width: 100%;
        height: 50%;
        background: none;
        color: #ffffff;
        background: #007580;
        cursor: pointer;
        border-radius: 3px;
        font-weight: bold; 
        transition: 0.5s;
        text-align: center;
        outline: none;
        box-shadow: none;
    }

    .header-buttons > button:hover {
        border-bottom: 1px solid #007580;
        background: none;
        border-radius: 0;
    }

    .box-buttons-register {
        height: 58%;
        grid-area: none;
        display: display;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "login" "register";
        justify-content: center;
        align-items: flex-end;
        padding: 2% 5%;
    }

    .buttons-register-one {
        grid-area: login;
        width: 100%;
        display: block;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: center;
        align-self: flex-end;
    }
    
    .buttons-register-two {
        grid-area: register;
        width: 100%;
        display: block;
        justify-content: center;
        align-self: center;
    }

    .buttons-register-one > button,
    .buttons-register-two > button {
        font-family: 'Slabo 13px', serif;
        background: #10757E;
        width: 100%;
        height: 5vh;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.5s;
    }

    .buttons-register-one > button:hover,
    .buttons-register-two > button:hover {
        grid-area: register;
        width: 100%;
        display: block;
        justify-content: center;
        align-self: center;
    }

    /* BOX-TWO */

    .img-sobre {
        grid-area: svg;
        height: 40vh;
    }
}

@media (max-width: 808px) {

    /* HEADER */



    /* MAIN */

    main {
        padding-top: 13vh;
        background-color: #007580;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 150vh 135vh 135vh 135vh 230vh;
        grid-template-areas: 
        "box-one"
        "box-two"
        "box-three"
        "box-four"
        "box-five";
    }

    /* BOX-ONE */

    .box-one {
        width: 100vw;
        background-size: 100% 100%;
        grid-template-columns: 100%;
        grid-template-rows: 30% 68% 2%;
        grid-template-areas:
        "mensage" 
        "autenticacao"
        "link";
    }

    .box-text {
        margin: 0 20%; 
    }

    .box-autenticacao{
        margin-top: 0;
        width: 55vw;
        align-self: flex-start;
    }

    .box-login,
    .box-register {
        grid-template-columns: 85%;
    }

    .box-form-login,
    .box-form-register {
        width: 100%;
    }

    /* BOX-TWO */

    .box-two {
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 35% 65%;
        grid-template-areas: 
        "box-image-sobre"
        "box-text-sobre";
        justify-items: center;
        align-items: center;
    }

    .box-img-sobre {
        grid-template-rows: 95% 5%;
    }

    .box-text-sobre {
        height: 80vh;
        width: 400px;
    }

    /* BOX-THREE */

    .box-three {
        width: 100vw;
        grid-template-rows: 35% 65%;
        justify-items: center;
        align-items: center;
    }

    .box-img-aulas {
        grid-template-rows: 95% 5%;
    }

    .box-text-aulas {
        margin: 0 ;
        height: 80vh;
        width: 400px;
        grid-template-rows: 20% 80%;
    }

    .box-content-aulas {
        margin: 0 8%;
    }

    /* BOX-FOUR */
    
    .box-four {
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 35% 65%;
        grid-template-areas: 
        "img-doacao" 
        "text-doacao";
    }

    .box-img-doacao {
        grid-area: img-doacao;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 95% 5%;
        grid-template-areas: 
        "img-doacao"
        "created-by";
    }

    /* BOX-FIVE */

    .box-five {
        display: grid;
    }
    
    .box-principios {
        width: 40vw;
    }
    
    .box-content-principios {
        text-align: center;
        font-size: 18px;
        margin: 0 5%
    }

    /* FOOTER */
    
    footer {
        grid-area: footer;
        background: #00464D;
        height: 120vh;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 24% 24% 24% 24%;
        grid-template-areas: 
        "facebook" 
        "instagram" 
        "whatsapp" 
        "email"
    }
    
    .box-icon-social-midia-facebook,
    .box-icon-social-midia-instagram,
    .box-icon-social-midia-whatsapp,
    .box-icon-social-midia-mail {
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: flex-start;
    }
    
    .box-icon-social-midia-facebook p,
    .box-icon-social-midia-instagram p,
    .box-icon-social-midia-whatsapp p,
    .box-icon-social-midia-mail p {
        text-align: center;
        margin: 0 0 0 0;
        color: #ffffff;
    } 
    
    .img-redes-sociais {
        height: 45%;
        margin: 2% 0 0 0;
        padding: 5%;
        background: #007580;
        border-radius: 10px
    }

}

@keyframes showMenu {
    from {
        width: 0;
    }
    to {
        width: 270px;
    }
}